{
    "extends": ["eslint:recommended", "plugin:react/recommended"],
    "parser": "babel-eslint",
    "env": {
      "es6": true,
      "jest": true,
      "cypress/globals": true
    },
    "plugins": ["react-hooks", "@cypress/dev", "cypress", "chai-friendly"],
    "rules": {
      "quotes": [2, "single"],
      "semi": [2, "always"],
      "no-console": 0,
      "no-undef": 0,
      "no-unused-vars": 0,
      "no-debugger": 1,
      "react-hooks/rules-of-hooks": "error",
      "no-param-reassign": "warn",
      "react-hooks/exhaustive-deps": 0,
      "prefer-promise-reject-errors": ["off", { "allowEmptyReject": true }]
    },
    "settings": {
      "react": {
        "version": "detect"
      },
      "import/resolver": {
        "alias": {
          "map": [["@", "./src"]]
        },
        "node": {
          "extensions": [".js", ".jsx", ".json", ".ts", ".tsx", ".css"],
          "paths": ["src"]
        }
      }
    }
  }
  